[buildout]
extensions = 
parts = 
    instance
    scripts

extends =
    https://dist.plone.org/release/5.2.14/versions.cfg
    versions.cfg
    
effective-user = 
show-picked-versions = true
versions = versions
find-links =

http-address = 8080

policies = 
# policy packages

extensions = 
    buildout.sanitycheck
    mr.developer

sources-dir = src/
auto-checkout = *
always-checkout = true

[sources]
sinar.activity = git git@github.com:Sinar/sinar.activity branch=main
sinar.advisory = git git@github.com:Sinar/sinar.advisory branch=main
sinar.article = git git@github.com:Sinar/sinar.article branch=main
sinar.miscbehavior = git git@github.com:Sinar/sinar.miscbehavior branch=main
sinar.organization = git git@github.com:Sinar/sinar.organization branch=main
sinar.project = git git@github.com:Sinar/sinar.project branch=main
sinar.indicators = git git@github.com:Sinar/sinar.indicators branch=main
sinar.resource = git git@github.com:Sinar/sinar.resource branch=main
collective.vocabularies.iso = git git@github.com:Sinar/collective.vocabularies.iso.git
plone.app.z3cform = git https://github.com/enfold/plone.app.z3cform tag=3.2.2+enfold1

[mr.developer]
threads = 1

[instance]
recipe = plone.recipe.zope2instance
eggs = 
    Plone
    Pillow
    collective.dexteritytextindexer
    collective.relationhelpers
    collective.vocabularies.iso
    sinar.advisory
    sinar.activity
    sinar.article
    sinar.indicators
    sinar.organization
    sinar.project
    sinar.miscbehavior
    sinar.resource
    plone.app.z3cform
    eea.facetednavigation
    ${buildout:policies}

http-address = ${buildout:http-address}
user = admin:admin 
effective-user = ${buildout:effective-user}

zodb-cache-size = 3000

[scripts]
recipe = zc.recipe.egg
interpreter = zopepy
eggs = ${instance:eggs}
