[buildout]
extensions = 
parts = 
    instance
    scripts

extends =
    https://dist.plone.org/release/6.0.5/versions.cfg
    versions.cfg
    
effective-user = 
show-picked-versions = true
versions = versions
find-links =

http-address = 8080

policies = 
# policy packages

extensions = mr.developer
sources-dir = src/
auto-checkout = *
always-checkout = true

[sources]
sinar.resource = git git@github.com:/Sinar/sinar.resource/ branch=main
sinar.activity = git git@github.com:/Sinar/sinar.activity/ branch=main
sinar.article= git https://github.com/Sinar/sinar.article/ branch=main
sinar.organization = git https://github.com/Sinar/sinar.organization branch=main
sinar.citation = git https://github.com/Sinar/sinar.citation/ branch=main
sinar.project = git https://github.com/Sinar/sinar.project/ branch=main
sinar.indicators = git https://github.com/Sinar/sinar.indicators/ branch=main
sinar.miscbehavior = git https://github.com/Sinar/sinar.miscbehavior/ branch=main
collective.vocabularies.iso = git https://github.com/Sinar/collective.vocabularies.iso.git

[mr.developer]
threads = 1

[instance]
recipe = plone.recipe.zope2instance
eggs = 
    Plone
    Pillow
    sinar.resource
    sinar.activity
    sinar.article
    sinar.indicators
    sinar.organization
    sinar.citation
    sinar.project
    sinar.miscbehavior
    collective.vocabularies.iso
    eea.facetednavigation
    ${buildout:policies}

http-address = ${buildout:http-address}
user = admin:admin 
effective-user = ${buildout:effective-user}

zodb-cache-size = 3000

[scripts]
recipe = zc.recipe.egg
interpreter = zopepy
eggs = ${instance:eggs}
